[Unit]
Description=EnocaLogger
[Service]
WorkingDirectory=/opt/enoca

ExecStart=/usr/bin/java -Xmx512m -jar EnOcean.jar
SuccessExitStatus=143

Type=simple
User=root
[Install]
WantedBy=multi-user.target
