[Unit]
Description=EnocaLogger
[Service]
ExecStart=/opt/enoca/enoca.sh
ExecReload=ExecReload=/bin/kill -s HUP $MAINPID

TimeoutStartSec=0


Type=simple
User=alarm
[Install]
WantedBy=multi-user.target
